In [1]:
from ConectionSQL import SQL
import os
from glob import glob
import pandas as pd

sql=SQL('Netfeira','sqlserver','MOINHO','192.168.0.252')

conectando=sql.ConexaoSQL()

In [2]:
querys={
    
    
    'Carteira':"""
    
    SELECT * FROM netfeira.vw_carteira
    
    """,
    
    'Cliente':
    
    """
    
    SELECT cd_clien AS 'ID Cliente',cd_vend AS 'Principal'
    FROM cliente
    
    """
    
}

In [3]:
tabela_df=dict()

for tabela,query in querys.items():
    
    tabela_df[tabela]=pd.read_sql(query,conectando)
    
    pass

In [4]:
tabela_df['Carteira']=tabela_df['Carteira'][['ID Cliente','ID Vendedor']].loc[tabela_df['Carteira']['Principal']=='SIM']

In [5]:
tabela_df['Cliente']=tabela_df['Cliente'].merge(tabela_df['Carteira'],on='ID Cliente',how='inner')

In [6]:
tabela_df['Cliente']['Status']=tabela_df['Cliente'].apply(lambda info: 'SIM' if info['Principal']==info['ID Vendedor'] else 'NÃO',axis=1)

In [7]:
tabela_df['Cliente']=tabela_df['Cliente'].loc[tabela_df['Cliente']['Status']=='NÃO']

In [8]:
tabela_df['Cliente'].columns

Index(['ID Cliente', 'Principal', 'ID Vendedor', 'Status'], dtype='object')

In [10]:
cliente_df=pd.DataFrame()

cliente_df=tabela_df['Cliente']

In [12]:
cliente_df.rename(columns={'Principal':'ID Antigo','ID Vendedor':'ID Novo'},inplace=True)

In [16]:
for indice,linha in cliente_df.iterrows():
        
    query=f"""
    
    UPDATE cliente
    SET cd_vend='{linha['ID Novo']}'
    WHERE cd_clien={linha['ID Cliente']}
    
    """
    
    print(query)
    
    pass

    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=17465




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=17560




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=17563




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19386




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19854




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19941




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20165




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20194




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=25204




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=7295




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=11564




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22327




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22653




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22896




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23318




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23340




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=24036




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=25396




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=5164




    UPDATE cliente
    SET cd_vend='CELSOCAR'
    WHERE cd_clien=14928




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=15137




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=18983




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19363




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19540




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19829




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19873




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19905




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19947




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19978




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20169




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20185




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20187




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22031




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23007




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23114




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23139




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23140




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23141




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23290




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23637




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23879




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23901




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23954




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=24399




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=25714




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=11989




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=17323




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21510




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20120




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20215




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20216




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20217




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20218




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20219




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20220




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20221




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20222




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20223




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20224




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20225




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20226




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20227




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20228




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20229




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20230




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20231




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20232




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20233




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20234




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20235




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20236




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20237




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20238




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20239




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20240




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20241




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20242




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20243




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=6904




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=7774




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=17479




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=17501




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=18299




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=18314




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=18467




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=18476




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=18572




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19807




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19814




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22252




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=22740




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=22812




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=22966




    UPDATE cliente
    SET cd_vend='EDUARDOS'
    WHERE cd_clien=23036




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=25541




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=25148




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21207




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21208




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21212




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21213




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21214




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21258




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21266




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21276




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21281




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21282




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21283




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21284




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21693




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22734




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=16756




    UPDATE cliente
    SET cd_vend='DOUGLASM'
    WHERE cd_clien=22632




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23871




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=24065




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=24066




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=10747




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20366




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20541




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20740




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20741




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20747




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20751




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21025




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21097




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21107




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21108




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21111




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21112




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21113




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21116




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21119




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21120




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21121




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21122




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21149




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21451




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21660




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21816




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21824




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21843




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21846




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21942




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21970




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22172




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22174




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22175




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22176




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22177




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22178




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22179




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22181




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22182




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22183




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22189




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22200




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22224




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22230




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22231




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22232




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22233




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22235




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22236




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22237




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22238




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22325




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22554




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22555




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22556




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22557




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22558




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22559




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22560




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22561




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22562




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22563




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22564




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22565




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22566




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22567




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22568




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22584




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22593




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22606




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22861




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22898




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22909




    UPDATE cliente
    SET cd_vend='MAYRAQS '
    WHERE cd_clien=23031




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23090




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23541




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23661




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23713




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23715




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23725




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23829




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23835




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=24466




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=25125




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=25205




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=25211




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=25600




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=25806




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=25918




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20349




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19087




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20004




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20212




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21983




    UPDATE cliente
    SET cd_vend='MAYRAQS '
    WHERE cd_clien=23398




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19818




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19824




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19886




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19911




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19935




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20123




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21559




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21671




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23438




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23990




    UPDATE cliente
    SET cd_vend='FLASANTO'
    WHERE cd_clien=3300




    UPDATE cliente
    SET cd_vend='ALERUIZ '
    WHERE cd_clien=4129




    UPDATE cliente
    SET cd_vend='MARLENES'
    WHERE cd_clien=9874




    UPDATE cliente
    SET cd_vend='ISABELCR'
    WHERE cd_clien=10470




    UPDATE cliente
    SET cd_vend='DOUGLASM'
    WHERE cd_clien=10593




    UPDATE cliente
    SET cd_vend='MARXSANC'
    WHERE cd_clien=11295




    UPDATE cliente
    SET cd_vend='ALERUIZ '
    WHERE cd_clien=12568




    UPDATE cliente
    SET cd_vend='CLAUDIOP'
    WHERE cd_clien=13076




    UPDATE cliente
    SET cd_vend='JUSCELIN'
    WHERE cd_clien=14001




    UPDATE cliente
    SET cd_vend='PEDROCAR'
    WHERE cd_clien=16942




    UPDATE cliente
    SET cd_vend='DOUGLASM'
    WHERE cd_clien=17463




    UPDATE cliente
    SET cd_vend='SOLANGEC'
    WHERE cd_clien=17928




    UPDATE cliente
    SET cd_vend='SOLANGEC'
    WHERE cd_clien=18126




    UPDATE cliente
    SET cd_vend='CLAUDIOP'
    WHERE cd_clien=18625




    UPDATE cliente
    SET cd_vend='RMARQUES'
    WHERE cd_clien=18859




    UPDATE cliente
    SET cd_vend='RODRIGOA'
    WHERE cd_clien=19157




    UPDATE cliente
    SET cd_vend='SOLANGEC'
    WHERE cd_clien=19716




    UPDATE cliente
    SET cd_vend='REGIANE '
    WHERE cd_clien=20866




    UPDATE cliente
    SET cd_vend='RENATAAP'
    WHERE cd_clien=22658




    UPDATE cliente
    SET cd_vend='LEOLOREN'
    WHERE cd_clien=23572




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19869




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19898




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20260




    UPDATE cliente
    SET cd_vend='TALITA  '
    WHERE cd_clien=21822




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22363




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=23179




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19281




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20195




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20496




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20805




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20834




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20994




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21082




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=21127




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=22071




    UPDATE cliente
    SET cd_vend='BRUNA   '
    WHERE cd_clien=13912




    UPDATE cliente
    SET cd_vend='CRISTIAN'
    WHERE cd_clien=14740




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=18150




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19161




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19683




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19799




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19858




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19969




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=19973




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20003




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20112




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20174




    UPDATE cliente
    SET cd_vend='CLISEMCO'
    WHERE cd_clien=20177




    UPDATE cliente
    SET cd_vend='CLISEMCO'